/*Police imposée*/
@font-face {
  font-family: "Raleway";
  src: url("police/raleway-variablefont_wght-webfont.eot") format("eot");
  src: url("police/raleway-variablefont_wght-webfont.woff") format("woff"),
    url("police/raleway-variablefont_wght-webfont.ttf") format("truetype"),
    url("police/raleway-variablefont_wght-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

#bloc_page {
  width: 90%;
  margin: auto;
}
@media all and(max-width:1024px) {
  #bloc_page {
    width: auto;
  }
}
/*Organisation header , manque le padding top au survol nav*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
}
nav a {
  text-decoration: none;
  color: #0065fc;
}
nav a:focus {
  border-top: 1px #0065fc solid;
  color: #0065fc;
  padding-top: 40px;
}
nav a:visited {
  color: #0065fc;
}
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 35px;
  margin-top: 15px;
  padding-top: 8px;
}

@media all and (max-width: 1024px) {
  nav {
    width: auto;
  }
  nav a {
    flex-direction: row;
    border-bottom: 1px #f2f2f2 solid;
  }
  nav a:focus {
    border-bottom: 1px #0065fc solid;
  }
}

/*Phrases d'accroches*/
#slogan h1 {
  width: 50%;
  font-size: x-large;
  line-height: 1px;
  margin-bottom: 10px;
  padding-top: 5px;
}
/*Bouton rechercher*/
form {
  display: flex;
}
#choix .fas {
  color: black;
  background-color: #f2f2f2;
  padding-bottom: 10px;
  padding-top: 8px;
  padding-left: 9px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#choix {
  display: inline-block;
}

#rechercher {
  padding: 9px;
  border: 1px #f2f2f2 solid;
  margin-left: 0px;
}
::placeholder {
  font-weight: bold;
  color: black;
  padding-left: 5px;
}

.rechercher {
  background-color: #0065fc;
  color: white;
  padding: 7px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Filtres bouton et icônes*/
.icone {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 20px;
  padding: 1em;
}
.filtres {
  font-weight: bold;
  padding-top: 10px;
}
#filtres {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bouton {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 0;
  font-weight: bold;
  margin-left: 45px;
  padding-right: 10px;
  border: 1px #f2f2f2 solid;
}
.bouton:hover {
  background-color: yellow;
}
#info .fas {
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 9px;
  border: 1px #f2f2f2 solid;
  border-radius: 20px;
  color: #0065fc;
}
#info {
  margin-bottom: 20px;
}
/*Hebergements à Marseille, cards et h1*/
article {
  width: 70%;
}
#hebergements {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  row-gap: 20px;
}
#hebergements h2 {
  width: 95%;
  padding-top: 20px;
}
.pictures {
  background-color: white;
  border-radius: 20px;
  width: 243px;
  margin-left: 5px;
  line-height: 1%;
  padding-left: 5px;
  padding-top: 5px;
}

.rate .fas {
  color: #0065fc;
  border: none;
}
.grey .fas {
  color: #f2f2f2;
  border: none;
}
.rate {
  display: flex;
  padding-bottom: 8px;
  padding-left: 5px;
  font-size: small;
}

#hebergements img {
  width: 98%;
  border-radius: 20px 20px 0px 0px;
  height: 112px;
  width: 237px;
}
#hebergements a {
  text-decoration: none;
}
#hebergements h3 {
  color: black;
  font-weight: bold;
  padding-left: 5px;
}
#hebergements p {
  color: black;
  padding-left: 5px;
  padding-top: 5px;
}
.plus {
  width: 90%;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 20px;
  padding-bottom: 40px;
}

section {
  display: flex;
}

/*Aside, les plus populaires*/
#populaires {
  background-color: #f2f2f2;
  margin-left: 15px;
  width: 30%;
  border-radius: 20px;
}
#populaires h2 {
  margin-left: 15px;
  padding-top: 20px;
}
#populaires h3 {
  font-weight: bold;
  font-size: medium;
  line-height: 15px;
}

#populaires .fas {
  padding-left: 100px;
}
#Soleil {
  display: flex;
  width: 90%;
  background-color: white;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 40px;
  height: 110px;
}
#coeur {
  display: flex;
  width: 90%;
  background-color: white;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 20px;
  height: 110px;
}
#bleu {
  display: flex;
  width: 90%;
  background-color: white;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 20px;
  height: 110px;
}
.pop {
  width: 40%;
  max-width: 100px;
  height: auto;
}
.description {
  padding-left: 15px;
  line-height: 1px;
}

#populaires img {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px 3px;
  height: 95%;
}
/*Activités*/
#activités {
  max-width: 1100px;
}
#activites h2 {
  margin-top: 20px;
}
#conteneur {
  display: flex;
  width: 90%;
  margin-bottom: 45px;
}
#conteneur p {
  padding-left: 15px;
}
#vieux_port {
  background-color: white;
  border-radius: 20px;
  width: 307px;
  height: 390px;
}
#vieux_port img {
  width: 100%;
  height: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#colonne_1 {
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
}
#Fort {
  background-color: whitesmoke;
  border-radius: 20px;
  width: 260px;
  height: 210px;
}

#Fort img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#Iles {
  background-color: whitesmoke;
  border-radius: 20px;
  width: 260px;
  height: 130px;
  margin-top: 47px;
}

#Iles img {
  width: 100%;
  height: 65%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#Parc {
  background-color: whitesmoke;
  border-radius: 20px;
  width: 307px;
  height: 390px;
}

#Parc img {
  width: 100%;
  height: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#colonne_2 {
  flex-direction: column;
  margin-left: 35px;
}
#Garde {
  background-color: whitesmoke;
  border-radius: 20px;
  width: 290px;
  height: 170px;
}
#Garde img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#Longchamp {
  background-color: whitesmoke;
  border-radius: 20px;
  width: 290px;
  height: 180px;
  margin-top: 37px;
}

#Longchamp img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/*Footer*/
footer {
  display: flex;
  flex-grow: 0;
  background-color: #f2f2f2;
}

#A_propos {
  margin-right: 20%;
}

#Nos_hébergements {
  margin-right: 20%;
}
